<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/412syllabus">PSY412: Syllabus</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/setup">Basic Setup</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/intror">Introduction to R</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/introreprod">Introduction to Reproducibility</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/resources">Course Resources</a>
          
          <a class="sidebar-nav-item">Reproducibility </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;RStudio Projects</a>

          <a class="sidebar-nav-item">DSUR2 Background </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Dealing with Numbers</a>
          
          <a class="sidebar-nav-item">DSUR3 R Enviornment </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Basics</a>

          <a class="sidebar-nav-item">DSUR4 Visualization </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Basics</a>

          <a class="sidebar-nav-item">DSUR5 Assumptions </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/t">&nbsp;&nbsp;&nbsp;&nbsp;Importing Data</a>

          <a class="sidebar-nav-item">DSUR6 Correlation </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Simplify Code with %>%</a>

          <a class="sidebar-nav-item">DSUR7 Regression </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Quick Plots</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Advanced Plots with ggplot</a>
          
          <a class="sidebar-nav-item">DSUR9 T-Test </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Descriptive Analytics</a>

          <a class="sidebar-nav-item">DSUR10 ANOVA </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/">&nbsp;&nbsp;&nbsp;&nbsp;Descriptive Analytics</a>

    
    
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
