<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>

 <!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
        <center>
         {{ site.description }}
        </center>
    </p>
    <p>
         <center>
              <a href="mailto:jbedics@callutheran.edu" target="_blank">
                   <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
              </a>  &nbsp;
              <a href="https://github.com/jdbedics" target="_blank">
                   <i class="fa fa-github fa-lg" aria-hidden="true"></i>
              </a> &nbsp;
              <a href="https://www.facebook.com/clumscp/" target="_blank">
                   <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
              </a> &nbsp;
              <a href="https://osf.io/h48c6" target="_blank">
                   <i class="ai ai-osf-square ai-lg"></i> 
              </a> &nbsp;
              <a href="https://speakerdeck.com/jdbedics" target="_blank">
                <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
              </a> &nbsp;
              <a href="https://jamiebedics.youcanbook.me/" target="_blank">
                  <i class="fa fa-calendar fa-lg"></i>      
              </a>
         </center>
    </p>
 </div>
 
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/about">About</a>
          <a class="sidebar-nav-item">I. Quantitative Courses</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/syllabus562">&nbsp;&nbsp;&nbsp;&nbsp;PSY 562: AdvStats I: Regression</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/syllabus565">&nbsp;&nbsp;&nbsp;&nbsp;PSY 565: Thesis Seminar</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/hlmsyllabus">&nbsp;&nbsp;&nbsp;&nbsp;PSY 582: AdvStats II: HLM</a>
          
          <a class="sidebar-nav-item">II. Course Resources </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/setup">&nbsp;&nbsp;&nbsp;&nbsp;Basic Setup</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/web">&nbsp;&nbsp;&nbsp;&nbsp;Web Resources</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/resources">&nbsp;&nbsp;&nbsp;&nbsp;Professional Resources</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/dataresources">&nbsp;&nbsp;&nbsp;&nbsp;Data Resources</a>

          <a class="sidebar-nav-item">III. DSUR Course Material </a>
          <a class="sidebar-nav-item">Ch1 Research Methods </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/dsurch1">&nbsp;&nbsp;&nbsp;&nbsp;Theory & Methods</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/dsurch1a">&nbsp;&nbsp;&nbsp;&nbsp;Summarize Data</a>
          
          <a class="sidebar-nav-item">Ch2 Background </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/#dsurch2">&nbsp;&nbsp;&nbsp;&nbsp;Statistical Models</a>
          
          <a class="sidebar-nav-item">Ch3 R Environment </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/#import">&nbsp;&nbsp;&nbsp;&nbsp;Import & Wrangle</a>

          <a class="sidebar-nav-item">Ch4 Visualization </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/#ggplot">&nbsp;&nbsp;&nbsp;&nbsp;Basics of GGPLOT</a>

          <a class="sidebar-nav-item">Ch5 Assumptions </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/#assumptions">&nbsp;&nbsp;&nbsp;&nbsp;Evaluating Model Assumptions</a>

          <a class="sidebar-nav-item">Ch6 Correlation </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/correlation">&nbsp;&nbsp;&nbsp;&nbsp;Correlations in R</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/missing">&nbsp;&nbsp;&nbsp;&nbsp;Missing Data</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/nonparcor">&nbsp;&nbsp;&nbsp;&nbsp;Non-Parametric</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/extracor">&nbsp;&nbsp;&nbsp;&nbsp;Extra</a>

          <a class="sidebar-nav-item">Ch7 Regression </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/#regression">&nbsp;&nbsp;&nbsp;&nbsp;Linear Regression</a>
          
          <a class="sidebar-nav-item">Ch9 T-Test </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/#ttest">&nbsp;&nbsp;&nbsp;&nbsp;Introduction to T-Tests</a>

          <a class="sidebar-nav-item">Ch10 ANOVA </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://clu-mscp.github.io/bedics/anova">&nbsp;&nbsp;&nbsp;&nbsp;Introduction to ANOVA</a>

    
    
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
